body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  #container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #play-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #d72e08;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #play-btn:hover {
    background-color: #3c1403;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }